<main role="main" style="background-color: lavender; margin: 0px;" *ngIf="events.length > 0">

  <!--carousel-->
  <div id="myCarousel" class="carousel slide" data-ride="carousel" (mouseenter)="mouseEnter()" style="width: 80%;margin-left: 10%; height: 25rem; margin-bottom: 0px; padding-top: 0.5rem"
    (mouseleave)="mouseLeave()">
    <ol class="carousel-indicators">
      <li *ngFor="let event of events; let i = index" data-target="#myCarousel" data-slide-to="i" class="{{ (i == 0) ? 'active' : ''}}"></li>
    </ol>
    <div class="carousel-inner">
      <div *ngFor="let event of events; let i = index" class="carousel-item {{ (i == 0) ? 'active' : ''}}" style="cursor: pointer;">
        <figure class="tint" (click)="clickOnCarouselItem(event)">
          <img class="slide" src="{{event.picture}}" alt="Slide" style="height: 25rem; width: 100%;">
          <div *ngIf="mouseEnterHover" class="container">
            <div class="carousel-caption text-left">
              <h1 background-color="black">{{event.name}}</h1>
              <p>{{event.description.substr(0,100)}}</p>
            </div>
          </div>
        </figure>
      </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!--end carousel-->

  <!--amra jedan primjer-->
  <div class="container marketing">
    <hr class="featurette-divider" [ngStyle]="changeBackground()" style="height: 3px;  margin: 2rem 0;">
  </div>

  <div class="row" style="margin-left: 10%; margin-right: 10%;">

    <div class="col-4" *ngFor="let event of events, let i = index" [class.selected]="event === selectedEvent" style="margin-bottom: 2%;">
      <a (click)="prikaziDetalje(event)" style="cursor: pointer;">
        <div class="card" style="height: 100%; width: 100%;">
          <img class="card-img-top" height="160rem" width="22rem" src="{{event.picture}}">
          <div class="card-body">
            <h5 class="card-title">{{ event.name }}</h5>
            <p class="card-text" style="font-size: 11px">Datum: {{ event.date_time | date: "dd.MM.yyyy. HH:mm" }}
            </p>
            <p class="card-text">{{event.description.substr(0,100)}}...</p>
            <a class="btn btn-info" (click)="prikaziDetalje(event)" [ngStyle]="changeBackground()" style="border: rgb(0, 110, 255) 2px; color: white;">Više
              ...</a>
          </div>
        </div>
      </a>
    </div>

  </div>

  <!--end amra  jedan primjer-->

  <div class="container marketing">
    <hr class="featurette-divider" [ngStyle]="changeBackground()" style="height: 3px; margin: 1rem 0;">
  </div>

</main>


<!-- edit modal-->
<div class="modal fade" id="exampleModal8" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel"> Izmjeni: </h3>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Naziv:</label>
            <input type="text" class="form-control" id="naziv_usluga" value="{{ eventPut.name }}" [(ngModel)]="eventPut.name"
              [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Opis:</label>
            <textarea class="form-control" id="opis_usluga" value="{{ eventPut.description }}" [(ngModel)]="eventPut.description"
              [ngModelOptions]="{standalone: true}"></textarea>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Kategorija:</label>
            <input type="text" class="form-control" id="cijena_usluga" value="{{ modal_kategorija }}" disabled>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="btn_modal_usluga" data-dismiss="modal" (click)="zatvori()">Zatvori</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" id="btn_podnesi_zahtjev" (click)="sacuvajIzmjeneEvent()">Sačuvaj
          izmjene</button>
      </div>
    </div>
  </div>
</div>
<!-- end edit modal-->