<div class="text-center" style="margin-top: 4rem;">

  <div class="col-md-10" style="margin: auto; margin-bottom: 2rem;">
    <div class="row">
      <div class="col-md-10" style="margin-top: 2rem;">
        <h2 style="text-align: left; margin-left: 7%">LOKACIJE</h2>
      </div>
      <div class="col-md-2" style="margin-top: 2rem;">
        <button class="btn btn-outline-secondary" type="submit" data-toggle="modal" data-target="#exampleModal" style="width: 40%;">+</button>
      </div>
    </div>
    <hr />
  </div>
  <div class="row">
    <div class="col-md-12" style="width: 100%" *ngIf="success" class="alert alert-success" role="alert">
      {{successMessage}}
    </div>
    <div *ngIf="errorNewEvent" class="alert alert-danger" role="alert">
      {{errorMessage}}
    </div>
  </div>

  <div class="col-md-10" style="margin: auto;">

    <div class="row">
      <div class="col-md-6" *ngFor="let objekat of places">
        <div class="row" *ngIf="deleteSelectedPlace.id === objekat.id">
          <div class="col-md-12" style="width: 100%" *ngIf="success" class="alert alert-success" role="alert">
            {{successMessage}}
          </div>
          <div *ngIf="errorNewEvent" class="alert alert-danger" role="alert">
            {{errorMessage}}
          </div>
        </div>
        <div class="card" style="margin-bottom: 5% !important; height: 90% !important;">
          <div class="card-header">
            <div class="row">
              <div class="col-md-8">
                <h4 style="margin-top: 0.5rem; float: left;">{{objekat.name}}</h4>
              </div>
              <div class="col-md-4" style="padding-right: 0px; ">
                <button class="btn btn-outline-primary" style="float: right; border-color: #4e555b; color: #4e555b; margin-right: 10%"
                  type="submit" data-toggle="modal" data-target="#modaluredi" (click)="urediPlace(objekat)">Uredi</button>
                <button class="btn btn-outline-danger" data-toggle="modal" data-target="#deletemodal" (click)="obrisiLokaciju(objekat)"
                  *ngIf='mozeSeBrisati'>Obriši</button>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-5">
                <img class="card-img-top" height="180rem" width="22rem" src="{{objekat.picture}}" alt="Card image cap">
              </div>
              <div class="col-md-7">
                <h5 class="card-title" style="text-align: left; color: #4e555b; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">Adresa:
                  {{objekat.address}}</h5>
                <hr />
                <p class="card-text" style="text-align: left;">Opis: {{objekat.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


<!--<div class="panel panel-default" style="width: 1000px; margin-left: 10%;" *ngFor="let place of places">
        <div class="panel-heading">
            <h3 class="panel-title">{{place.name}}</h3>
        </div>
        <div class="panel-body" style="height: 200px;">
            <h6>{{place.description}}</h6>
            <button class="btn btn-default" type="submit" data-toggle="modal" data-target="#exampleModal1" (click)="prikaziDetalje(place)">Više informacija</button>
            <button class="btn btn-default" type="submit" data-toggle="modal" data-target="#exampleModal2" (click)="prikaziDetalje(place)">Uredi</button>
            <button class="btn btn-default" type="submit">Obriši</button>
        </div>
    </div>-->

<div class="modal fade" id="deletemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel"> Želite li obrisati odabranu lokaciju?</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="btn_modal_usluga" data-dismiss="modal" (click)="deleteSelectedLocation()">Obriši</button>
        <button type="button" class="btn btn-secondary" id="btn_modal_usluga" data-dismiss="modal" (click)="zatvori()">Odustani</button>
      </div>
    </div>
  </div>
</div>


<div #newPlaceModal class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel"> Novi objekat (lokacija) </h3>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label"> Naziv objekta </label>
            <label style="color: red; font-size: 16px;">{{errorNaziv}}</label>
            <input type="text" class="form-control" id="naziv_objekta" [(ngModel)]="objekat.name" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label"> Link postojeće web-stranice objekta
            </label>
            <label style="color: red; font-size: 16px;">{{errorLink}}</label>
            <input type="text" class="form-control" id="link_objekta" [(ngModel)]="objekat.place_url" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="detalji_zahtjev" class="col-form-label">Detalji</label>
            <label style="color: red; font-size: 16px;">{{errorDetalji}}</label>
            <textarea class="form-control" id="opis_objekta" style="height: 150px" [(ngModel)]="objekat.description"
              [ngModelOptions]="{standalone: true}"></textarea>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Grad</label>
            <label style="color: red; font-size: 16px;">{{errorGrad}}</label>
            <br>
            <select class="form-control" id="hitnost" [(ngModel)]="odabraniGrad" name="cities">
              <option *ngFor="let a of cities" [value]="a.id">{{a.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label"> Adresa </label>
            <label style="color: red; font-size: 16px;">{{errorAdresa}}</label>
            <input type="text" class="form-control" id="adresa_objekta" [(ngModel)]="objekat.address" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Menadžer objekta (korisničko ime)</label>
            <label style="color: red; font-size: 16px;">{{errorMenadzer}}</label>
            <br>
            <select class="form-control" id="hitnost" [(ngModel)]="odabraniMenadzer" name="users">
              <option *ngFor="let a of users" [value]="a.id">{{a.username}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label"> Fotografija <label style="color: red; font-size: 16px;">{{errorSlika}}</label><br></label>
            <input #file id="file" type="file" (change)="onUploadChange($event)" />
          </div>
          <!-- <label style="color: red; font-size: 16px;">{{error}}</label> -->
          <div *ngIf="errorExist" class="alert alert-danger" role="alert">
            {{error}}
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="btn_modal_usluga" data-dismiss="modal">Zatvori</button>
        <button type="button" class="btn btn-primary" (click)="kreirajObjekat()">Spremi</button>
      </div>
    </div>
  </div>
</div>


<div #editPlaceModal class="modal fade" id="modaluredi" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel"> Uredi informacije o objektu </h3>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Naziv objekta</label>
            <label style="color: red; font-size: 16px;">{{errorNaziv}}</label>
            <input type="text" class="form-control" id="naziv_usluga" value="{{ modal_naziv }}" [(ngModel)]="objekatPut.name"
              [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label"> Link postojeće web-stranice objekta
            </label>
            <label style="color: red; font-size: 16px;">{{errorLink}}</label>
            <input type="text" class="form-control" id="link_objekta" [(ngModel)]="objekatPut.place_url"
              [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Detalji</label>
            <label style="color: red; font-size: 16px;">{{errorDetalji}}</label>
            <textarea class="form-control" id="opis_usluga" value="{{ modal_opis }}" [(ngModel)]="objekatPut.description"
              [ngModelOptions]="{standalone: true}"></textarea>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Adresa</label>
            <label style="color: red; font-size: 16px;">{{errorAdresa}}</label>
            <input type="text" class="form-control" id="cijena_usluga" [(ngModel)]="objekatPut.address"
              [ngModelOptions]="{standalone: true}">
          </div>
          <!-- <label style="color: red; font-size: 16px;">{{error}}</label> -->
          <div *ngIf="errorExist" class="alert alert-danger" role="alert">
            {{error}}
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="btn_modal_usluga" data-dismiss="modal">Zatvori</button>
        <button type="button" class="btn btn-primary" id="btn_podnesi_zahtjev" (click)="sacuvajIzmjenePlace()">Spremi</button>
      </div>
    </div>
  </div>
</div>