.active {
  background-color: rgb(168, 164, 164, 0.3);
}

.lineMeni{
  height: 6px;
  border: none;
  margin-bottom: 0 px;
}

.lineRed { 
  color: red;
  background-color: red;
}

.lineBlue {
  color: blue;
  background-color: blue;
}

.lineOrange {
  color: orange;
  background-color:orange;
}

.lineGreen {
  color: green;
  background-color: green;
}

.lineYellow {
  color: yellow;
  background-color: yellow;
}

.linePurple {
  color: purple;
  background-color: purple;
}

.navbar{
  position:fixed;
   top: 0;
   margin:auto;
   left: 0;
   right: 0;
   width: 100%;

  /*margin-bottom: 0 px;*/
}

.navbar-collapse{
  position:fixed;
   top: 0;
   margin:auto;
   left: 0;
   right: 0;
   width: 100%;
   

}