<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 0">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul id="grouplist" class="navbar-nav mr-auto" style="height: 60px !important;">
      <li *ngFor="let item of items; let i=index" (click)="select(i)"
        [ngClass]="{'nav-item': true, 'active': selectedIndex == i}" style="width: 90px;">
        <a class="nav-link" routerLink="/{{item.name}}"
          style="color: white; text-align: center; padding-top: 10px;">{{ item.text }}
          <hr class="lineMeni {{item.color}}" style="margin-top: 8px"></a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a *ngIf="isLoggedIn==true" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false" style="color: white; cursor: pointer;">
          Admin opcije
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" (click)="pocistiIndex()" routerLink="/admin-useri"
            *ngIf="isAdmin==true">Menadžeri</a>
          <a class="dropdown-item" (click)="pocistiIndex()" routerLink="/admin-lokacija">Lokacije</a>
          <a class="dropdown-item" (click)="pocistiIndex()" routerLink="/admin-events">Novi događaj</a>
        </div>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn==true">
        <a class="nav-link" routerLink="/profil" (click)="pocistiIndex()"><i class="fa fa-user"
            style="color: white; font-size: 21px; margin-left: 10px;"></i></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/"></a>
      </li>
      <li class="nav-item" style="cursor: pointer">
        <a class="nav-link" data-toggle="modal" (click)="pretraga()"
          style="color: white; cursor: pointer; padding-right: 1rem;"><i class="fa fa-search"
            style="color: white; font-size: 18px;"></i>  Pretraga</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/"></a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn==false">
        <a class="nav-link" (click)="login()" style="color: white; cursor: pointer; padding-right: 1rem;">Prijava</a>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn==true" style="cursor: pointer; padding-right: 1rem;">
        <a class="nav-link" (click)="odjaviSe()" style="color: white">Odjava</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>