.active {
  background-color: rgb(168, 164, 164, 0.3);
}

.lineMeni{
  height: 6px;
  border: none;
  margin-bottom: 0 px;
}

.lineRed { 
  color: #ff2b5c;
  background-color: #ff2b5c;
}

.lineBlue {
  color: #36befa;
  background-color: #36befa;
}

.lineOrange {
  color: #ff724f;
  background-color: #ff724f;
}

.lineGreen {
  color: #27ab93;
  background-color: #27ab93;
}

.lineYellow {
  color: #ffd33b;
  background-color: #ffd33b;
}

.linePurple {
  color: #b831f3;
  background-color: #b831f3;
}

.navbar{
  position:fixed;
  top: 0;
  margin:auto;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}

.navbar-collapse{
  position:fixed;
  top: 0;
  margin:auto;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(88, 65, 107, 0.94);
}

