<div class="text-center">
  <div class="jumbotron">
    <h1>Podaci o korisniku</h1>
  </div>

  <div class="card" style="width: 40rem;">
    <img class="card-img-top" src="assets/user.svg" alt="Card image cap">
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><b>Username</b></td>
            <td>{{ user.username }}</td>
          </tr>
          <tr>
            <td><b>Ime i prezime</b></td>
            <td>{{ user.ime + ' ' + user.prezime }}</td>
          </tr>
          <tr>
            <td><b>Email</b></td>
            <td>{{ user.email }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>