<div class="text-center">
  <div class="jumbotron">
    <h1>Podaci o korisniku</h1>
  </div>


  <div class="card" style="width: 40rem;">
    <img class="card-img-top" src="assets/user.svg" alt="Card image cap">
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><b>Username</b></td>
            <td>{{ user.username }}</td>
          </tr>
          <tr>
            <td><b>Ime i prezime</b></td>
            <td>{{ user.ime + ' ' + user.prezime }}</td>
          </tr>
          <tr>
            <td><b>Email</b></td>
            <td>{{ user.email }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!--<form style="width: 60%; margin-left: 20%">
  <div class="form-group">
    <label for="recipient-name" class="col-form-label">Ime: </label>
    <input type="text" class="form-control" value="{{ user.ime }}" disabled>
  </div>
  <div class="form-group">
    <label for="recipient-name" class="col-form-label">Prezime:</label>
    <input type="text" class="form-control" value="{{ user.prezime }}" disabled>
  </div>
  <div class="form-group">
    <label for="message-text" class="col-form-label">Email:</label>
    <input type="text" class="form-control" value="{{ user.email }}" disabled>
  </div>
  <div class="form-group">
    <label for="recipient-name" class="col-form-label">Username:</label>
    <input type="text" class="form-control" value="{{ user.username }}" disabled>
  </div>
</form>-->
</div>