<div style="height: 100vh;">
  <div class="container" style=" height: 100vh !important;">
    <div class="row">
      <div class="col">
        <div class="jumbotron" style="margin-top: 20px !important; background-color: rgb(133,156,154);">
          <h1 style="text-align: center; color: rgb(255, 253, 253);">Novi događaj</h1>
        </div>
      </div>
    </div>
    <div class="row" style="margin-top: 20px !important;">
      <div class="col-9" style="margin: auto;">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label"> Naziv događaja: </label>
            <input type="text" class="form-control" id="naziv_objekta" [(ngModel)]="event.name"
              [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label"> Datum i vrijeme: </label><br>
            <input type="date" name="bday"
              style="border-width: 1px; padding: 10px; border-style: solid; height: 40px; border-color: rgba(158,162,162,0.76); border-radius: 8px;"
              [(ngModel)]="event.date_time" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="detalji_zahtjev" class="col-form-label">Opis:</label>
            <textarea class="form-control" id="opis_objekta" style="height: 150px" [(ngModel)]="event.description"
              [ngModelOptions]="{standalone: true}"></textarea>
          </div>
          <div class="form-group">
            <label for="hitnost" class="col-form-label">Izaberi kategoriju:</label>
            <select class="form-control" id="hitnost" [(ngModel)]="odabranaCategory" name="categories">
              <option *ngFor="let p of categories" [value]="p.id">{{p.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="hitnost" class="col-form-label">Izaberi lokaciju:</label>
            <select class="form-control" id="hitnost" [(ngModel)]="odabraniPlace" name="places">
              <option *ngFor="let p of places" [value]="p.id">{{p.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label"> Slika: <br></label>
            <input #file id="file" type="file" (change)="onUploadChange($event)" />
          </div>
        </form>
      </div>
    </div>
    <div class="row" style="margin-top: 10px; margin-bottom: 50px;">
      <div class="col-9" style="margin: auto;">
        <button type="button" class="btn btn-success" style="width: 100%;" data-dismiss="modal" id="btn_podnesi_zahtjev"
          (click)="kreirajEvent()" data-toggle="modal" data-target="#modal1">Spremi
        </button>
      </div>
    </div>
  </div>
</div>