<div class="text-center" style="margin-top: 4rem;">
  <div class="col-md-10" style="margin: auto; margin-bottom: 2rem;">
    <div class="row">
      <div class="col-md-12" style="margin-top: 2rem;">
        <h2 style="text-align: left; margin-left: 7%">NOVI DOGAĐAJ</h2>
      </div>
    </div>
    <hr />
  </div>

  <div class="col-md-8" style="margin: auto; border-style: solid; border-color: #c2c2d6; border-radius: 8px;">
    <div class="row" style="margin-top: 2rem;">
      <div class="col-md-12">
        <form>
          <div class="form-group">
            <label for="recipient-name" style="float: left;"> Naziv događaja<label
                style="color: red; font-size: 16px;">{{errorName}}</label></label>
            <input type="text" class="form-control" id="naziv_objekta" [(ngModel)]="event.name"
              [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="detalji_zahtjev" class="col-form-label" style="float: left;">Detalji<label
                style="color: red; font-size: 16px;">{{errorDescription}}</label></label>
            <textarea class="form-control" id="opis_objekta" style="height: 150px" [(ngModel)]="event.description"
              [ngModelOptions]="{standalone: true}"></textarea>
          </div>
          <div class="form-group">
            <label for="hitnost" class="col-form-label" style="float: left;">Izaberi kategoriju<label
                style="color: red; font-size: 16px;">{{errorCategory}}</label></label>
            <select class="form-control" id="hitnost" [(ngModel)]="odabranaCategory" name="categories">
              <option *ngFor="let p of categories" [value]="p.id">{{p.name}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="hitnost" class="col-form-label" style="float: left;">Izaberi lokaciju<label
                style="color: red; font-size: 16px;">{{errorPlace}}</label></label>
            <select class="form-control" id="hitnost" [(ngModel)]="odabraniPlace" name="places">
              <option *ngFor="let p of places" [value]="p.id">{{p.name}}</option>
            </select>
          </div>
          <div class="form-group" style="text-align: left">
            <label for="recipient-name" class="col-form-label"> Datum i vrijeme<label
                style="color: red; font-size: 16px;">{{errorDate}}</label>
            </label>
            <input type="date" name="bday" min="{{minDate}}"
              style="margin-left: 1rem; border-width: 1px; border-style: solid; height: 40px; border-color: rgba(158,162,162,0.76); border-radius: 8px;"
              [(ngModel)]="event.date_time" [ngModelOptions]="{standalone: true}">
          </div><br>
          <div class="form-group" style="text-align: left">
            <label for="recipient-name" class="col-form-label"> Fotografija<label
                style="color: red; font-size: 16px;">{{errorImage}}</label></label>
            <input #file id="file" type="file" (change)="onUploadChange($event)" style="margin-left: 3rem;" />
          </div>
          <div *ngIf="success" class="alert alert-success" role="alert">
            {{successMessage}}
          </div>
          <div *ngIf="errorNewEvent" class="alert alert-danger" role="alert">
            {{errorMessage}}
          </div>
          <div class="form-group">
            <button type="button" class="btn btn-success"
              style="width: 100%; border-color: #5c4d5f; background-color: rgba(88, 65, 107, 0.94);"
              data-dismiss="modal" id="btn_podnesi_zahtjev" (click)="kreirajEvent()" data-toggle="modal"
              data-target="#modal1">Spremi
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>