<div class="container-fluid" style="background-color: lavender; margin: 0px; min-height: 100%">

  <div class="col-8" style=" margin: auto; padding-top: 5%; min-height: 100%;">
    <div class="row">
      <div class="col-12" style="height: 20rem;">
        <img class="card-img" src="{{event.picture}}" style="height: 20rem;" alt="Card image">
      </div>
    </div>
    <br>
    <br>

    <div class="row">
      <div class="col-12">
        <h1 class="display-4">{{ event.name }}</h1>
        <hr class="featurette-divider" style="background-color: #5c4991; height: 3px;">
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p class="card-text" style="font-size: 22px; color: #343a40">u <a href={{event.place.place_url}}>{{event.place.name}}</a>,
          dana
          {{ event.date_time | date: "dd.MM.yyyy. HH:mm" }}</p>
      </div>
    </div>
    <br>

    <div class="row">
      <div class="col-12">
        <p *ngIf="event.price === 0" class="card-text" style="font-size: 20px; font-weight: bold">Ulaz: Slobodan</p>
        <p *ngIf="event.price !== 0" class="card-text" style="font-size: 20px">Ulaz: {{event.price}} KM</p>
      </div>
    </div>

    <br>
    <div class="row">
      <div class="col-12">
        <p style="font-size: 20px;">O događaju: </p>
        <hr>
        <p class="lead" style="white-space: pre-wrap">{{ event.description }}</p>
      </div>
    </div>

  </div>


</div>


<!--  <div class="container marketing">
    <h3>Posjetite slične događaje:</h3>
    <hr class="featurette-divider" style="color: purple; height: 1px; background-color: purple">
  </div>
  <div class="container">
    <div class="row">

      <div class="col-sm">
        <div class="card" style="width: 16rem;">
          <img class="card-img-top"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRb1u_EbUzo98FpE_A8me16Yeg0plRuRmBYUlZqhAUpTAWo8zFr"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Naucni skup hemija</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 16rem;">
          <img class="card-img-top"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwRC1Y0BeHokDy3TsYSYMyISTjRdkU0cHzftxS83AYe9wHVKbqbQ"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Naucni skup fizika</h5>
            <p class="card-text"> the Some quick example text to build on Some quick example text to build on card title
              and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 16rem;">
          <img class="card-img-top"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbo6XnQsHsDbuckILr1pHQo9HDwXgKzrLf5r4Go-OesL6lXUFA"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Naucni skup biologija</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    &lt;!&ndash;end row&ndash;&gt;
    <br>
  </div>-->