<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{ event.name }}</h1>
    <hr style="color: blue; height: 1px; background-color: blue">
    <p class="card-text" style="font-size: 18px">u <a href="">{{event.place.name}}</a>, dana
      {{ event.date_time | date: "dd.MM.yyyy. HH:mm:ss" }}</p>
    <img class="card-img" src="data:image/JPEG;base64,{{event.picture}}" alt="Card image">
    <br>
    <p class="card-text" style="font-size: 22px">Ulaz: slobodan</p>
    <p class="lead">{{ event.description }}</p>
  </div>
  <br>
  <br>

  <div class="container marketing">
    <h3>Posjetite slične događaje:</h3>
    <hr class="featurette-divider" style="color: purple; height: 1px; background-color: purple">
  </div>
  <div class="container">
    <div class="row">

      <div class="col-sm">
        <div class="card" style="width: 16rem;">
          <img class="card-img-top"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRb1u_EbUzo98FpE_A8me16Yeg0plRuRmBYUlZqhAUpTAWo8zFr"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Naucni skup hemija</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 16rem;">
          <img class="card-img-top"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwRC1Y0BeHokDy3TsYSYMyISTjRdkU0cHzftxS83AYe9wHVKbqbQ"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Naucni skup fizika</h5>
            <p class="card-text"> the Some quick example text to build on Some quick example text to build on card title
              and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card" style="width: 16rem;">
          <img class="card-img-top"
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbo6XnQsHsDbuckILr1pHQo9HDwXgKzrLf5r4Go-OesL6lXUFA"
            alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">Naucni skup biologija</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
              content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </div>
    <!--end row-->
    <br>
  </div>
</div>