<main role="main">

        <!--carousel-->
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li *ngFor="let event of events; let i = index" data-target="#myCarousel" data-slide-to="i" class="{{ (i == 0) ? 'active' : ''}}"></li>
            </ol>
        <div class="carousel-inner">
          <div *ngFor="let event of events; let i = index" class="carousel-item {{ (i == 0) ? 'active' : ''}}">
            <img class="slide" src="{{event.picture_url}}" alt="Slide">
            <div class="container">
              <div class="carousel-caption text-left" style="background-color: rgba(2, 2, 2, 0.61)!important;">
                <h1 background-color = "black">{{event.name}}</h1>
                <p>{{event.description}}</p>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
       </div>
      <!--end carousel-->

<!-- hardkodirani dio
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="second-slide" src="assets/nauka1.jpg" alt="Second slide">
                <div class="container">
                    <div class="carousel-caption" style="background-color: rgba(2, 2, 2, 0.61)!important;">
                        <h1>Sarajevo: Međunarodna konferencija o ljudskim pravima</h1>
                        <p>Međunarodna konferencija o ljudskim pravima pod nazivom ”Liquid reconciliation: Global
                            perspectives,
                            Glocal realities” je danas otvorena u Sarajevu, a fokus ovog događaja usmjeren je na vezu
                            između
                            zaštite ljudskih prava i perspektive pomirenja u podijeljenim društvima.</p>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="first-slide" src="assets/nauka3.jpg" alt="First slide">
                <div class="container">
                    <div class="carousel-caption text-center" style="background-color: rgba(2, 2, 2, 0.61)!important;">
                        <h1>Kantonalno takmičenje u fizici</h1>
                        <p>Kantonalno takmičenje iz fizike za učenike srednjih škola održano je dana, 17.3.2018. god. u
                            Prvoj
                            bošnjačkoj gimnaziji u Sarajevu. Takmičenju je pristupilo 137 učenika iz 17 srednjih škola
                            u
                            Kantonu Sarajevo. Rješavanje zadataka je trajalo 180 minuta za svaki razred. Komisija za
                            pregledanje
                            zadataka čini su profesori iz srednjih škola i asistenti sa PMF-a.</p>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="third-slide" src="assets/nauka2.jpg" alt="Third slide">
                <div class="container">
                    <div class="carousel-caption text-center" style="background-color: rgba(2, 2, 2, 0.61)!important;">
                        <h1>Predavanje o psihologiji</h1>
                        <p>U sklopu "Tjedna psihologije u Hercegovini" u Gradskoj vijećnici Ljubuški održano je
                            predavanje 'Što
                            (zapravo) rade psiholozi?', a predavačica je bila Marijana Šuvak - Martinović.</p>
                        <p>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
-->


    <div class="container marketing">
        <hr class="featurette-divider">
        <div class="row featurette" *ngFor="let event of events, let i = index" [class.selected]="event === selectedEvent"
            style="margin-bottom: 5%;">
            <div class="col-md-7">
                <h2 class="featurette-heading">{{ event.name }}</h2>
                <p class="lead">{{ event.description }}</p>
                <p style="margin-top: 20px;">
                    <a class="btn btn-outline-primary" role="button" (click)="prikaziDetalje(event)" style="margin-left: 10px; margin-right: 20px;">Više
                        informacija &raquo;</a>
                    <a *ngIf="isAdmin" class="btn btn-outline-danger" role="button" data-toggle="modal" data-target="#exampleModal9"
                        (click)="prikaziDetaljeIzmjena(event)">Uredi</a>
                    <a *ngIf="isAdmin" class="btn btn-outline-danger" role="button" (click)="obrisi(event)">Obriši</a>
                </p>
            </div>
         <div class="col-md-5" style ="margin-top: 7%">
            <img class="featurette-image img-fluid mx-auto" src={{event.picture_url}} alt="Generic placeholder image">
         </div>
        </div>
    </div>
</main>

<div class="modal fade" id="exampleModal9" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel"> Izmjeni: </h3>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Naziv:</label>
                        <input type="text" class="form-control" id="naziv_usluga" value="{{ eventPut.name }}"
                            [(ngModel)]="eventPut.name" [ngModelOptions]="{standalone: true}">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">Opis:</label>
                        <textarea class="form-control" id="opis_usluga" value="{{ eventPut.description }}" [(ngModel)]="eventPut.description"
                            [ngModelOptions]="{standalone: true}"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Kategorija:</label>
                        <input type="text" class="form-control" id="cijena_usluga" value="{{ modal_kategorija }}"
                            disabled>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="btn_modal_usluga" data-dismiss="modal" (click)="zatvori()">Zatvori</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="btn_podnesi_zahtjev" (click)="sacuvajIzmjeneEvent()">Sačuvaj
                    izmjene</button>
            </div>
        </div>
    </div>
</div>