<div class="text-center">
  <div class="jumbotron">
    <h1>Korisnici</h1>
  </div>

  <div class="navbar navbar-expand-lg navbar-light">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown">
        <a *ngIf="isAdmin==true" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false"> Pretraži po: </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/admin-useri">Username</a>
          <a class="dropdown-item" routerLink="/admin-lokacija">Ime i/ili prezime</a>
          <a class="dropdown-item" routerLink="/admin-kategorije">E-mail</a>
          <a class="dropdown-item" routerLink="/admin-events">Objekat</a>
        </div>
      </li>
    </ul>
  </div>
  
  <input type="text" style="width: 700px; margin-left: 420px; margin-bottom: 20px; " placeholder="Pretraži" class="form-control"
    id="naziv_objekta" [(ngModel)]="username_pretraga" [ngModelOptions]="{standalone: true}">
  <button style="width: 500px; margin-bottom: 20px; margin-left: 110px;" (click)="pretragaUsername()" data-toggle="modal"
    data-target="#exampleModal19" class="btn btn-primary">Pretraga</button>



  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Username</th>
        <th scope="col">Ime i prezime</th>
        <th scope="col">Pregledaj detalje</th>
        <th scope="col">Obriši korisnika</th>
      </tr>
    </thead>
    <tbody *ngFor="let user of users, let i = index">
      <tr>
        <th scope="row">{{i + 1}}</th>
        <td>{{user.username}}</td>
        <td>{{user.ime + ' ' + user.prezime}}</td>
        <td><button (click)="openUserDetails(user)" class="btn btn-primary pregledaj-profil">Pregledaj profil</button></td>
        <td><button (click)="deleteUser(user)" data-toggle="modal" data-target="#modal1" class="btn btn-primary">Obriši
            korisnika</button></td>
      </tr>
    </tbody>
  </table>
</div>


<div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel"> Korisnik uspješno obrisan!</h3>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="btn_modal_usluga" data-dismiss="modal" (click)="zatvori()">Zatvori</button>
      </div>
    </div>
  </div>
</div>