<div class="container-fluid" style="padding: 0px; background-color: rgba(88, 65, 107, 1);">
  <div class="container">
    <div class="row" style="margin-left: 0px !important; padding-top: 7%; padding-bottom: 2%;" (keyup)="keyUpFunction($event)">
      <div class="col-7" style="padding: 0px; padding-right: 10px;">
        <div class="row" style="margin-left: 0px !important;">
          <div class="col-2" style="padding-left: 0px !important;">
            <label style="color: white">Kategorija</label>
            <select class="form-control" id="hitnost" [(ngModel)]="selectedCategory" name="opcije" (change)="onChangedCategory()">
              <option [value]="0">Svi</option>
              <option *ngFor="let p of categories" [value]="p.id">{{p.name}}</option>
            </select>
          </div>
          <div class="col-3" style="padding-left: 0px !important;">
            <label style="color: white">Grad</label>
            <select class="form-control" id="hitnost" [(ngModel)]="selectedCity" name="opcije" (change)="onChangedCity()">
              <option [value]="0">Svi</option>
              <option *ngFor="let p of cities" [value]="p.id">{{p.name}}</option>
            </select>
          </div>
          <div class="col-3" style="padding-left: 0px !important;">
            <label style="color: white">Lokal</label>
            <select class="form-control" id="hitnost2" [(ngModel)]="selectedPlace" (change)="onChangedPlace()" name="opcije">
              <option [value]="0">Svi</option>
              <option *ngFor="let p of placesForDropDown" [value]="p.id">{{p.name}}</option>
            </select>
          </div>
          <div class="col-4" style="padding-left: 0px !important;">
            <label style="color: white">Opseg datuma</label>
            <input type="text" placeholder="Od - Do" class="form-control" (ngModelChange)="onChangedDate($event)"
              [(ngModel)]="selectedDate" #dp="bsDaterangepicker" bsDaterangepicker>
          </div>
        </div>
      </div>
      <div class="col-3" style="padding: 0px; padding-right: 15px;">
        <label style="color: white">Naziv događaja</label>
        <input type="text" class="form-control" id="naziv_objekta" (change)="onChangedName()" [(ngModel)]="selectedName"
          placeholder="Pretraži" [ngModelOptions]="{standalone: true}" />
      </div>
      <div class="col-2" style="padding: 0px;padding-left: 2rem">
        <label style="color: transparent">Pretraga</label>
        <label style="color: transparent">Pretraga</label>
        <button (click)="pretraziEvente()" style="float: left; background-color: white; border-width: 1px; border-color: rgb(216, 216, 216);"
          data-toggle="modal" data-target="#exampleModal19" class="btn btn-primary">
          <i class="fa fa-search" style="color: rgb(71, 71, 71); font-size: 18px;"></i>
        </button>
        <label style="color: transparent">Pretraga</label>
        <button (click)="ocistiPolja()" style="float: left; background-color: white; margin-left: 5px; border-width: 1px; border-color: rgb(216, 216, 216);"
          data-toggle="modal" data-target="#exampleModal19" class="btn btn-primary">
          <i class="fa fa-close" style="color: rgb(218, 25, 25); font-size: 22px;"></i>
        </button>
      </div>
    </div>
  </div>
</div>


<main role="main" style="background-color: lavender; margin: 0px; min-height: 100%; margin: 0; padding: 0; padding-top: 1rem;">
  <div class="row" style="margin-left: 10%; margin-right: 10%;">
    <div class="col-4" *ngFor="let event of searchedEvents, let i = index" [class.selected]="event === selectedEvent"
      style="margin-bottom: 2%;">
      <a (click)="prikaziDetalje(event)" style="cursor: pointer;">
        <div class="card" style="height: 100%; width: 100%;">
          <img class="card-img-top" height="160rem" width="22rem" src="{{event.picture}}">
          <div class="card-body">
            <h5 class="card-title">{{ event.name }}</h5>
            <p class="card-text" style="font-size: 11px">Datum: {{ event.date_time | date: "dd.MM.yyyy. HH:mm" }}
            </p>
            <p class="card-text">{{event.description.substr(0,100)}}...</p>
            <a class="btn btn-info" (click)="prikaziDetalje(event)" style="border: rgb(0, 110, 255) 2px; background-color: #5c4991; color: white;">Više
              ...</a>
          </div>
        </div>
      </a>
    </div>
  </div>
</main>