<div class="container-fluid" style="padding: 0px; background-color: rgba(88, 65, 107, 0.94);">
  <div class="container">
    <div class="row" style="margin-left: 0px !important; padding-top: 7%; padding-bottom: 2%;"
      (keydown)="keyDownFunction($event)">
      <div class="col-8" style="padding: 0px; padding-right: 10px;">
        <div class="row" style="margin-left: 0px !important;">
          <div class="col-2" style="padding-left: 0px !important;">
            <label style="color: white">Kategorija</label>
            <select class="form-control" id="hitnost" [(ngModel)]="selectedCategory" name="opcije">
              <option [value]="null">All</option>
              <option *ngFor="let p of categories" [value]="p.id">{{p.name}}</option>
            </select>
          </div>
          <div class="col-3" style="padding-left: 0px !important;">
            <label style="color: white">Grad</label>
            <select class="form-control" id="hitnost" [(ngModel)]="selectedCity" name="opcije">
              <option [value]="null">All</option>
              <option *ngFor="let p of cities" [value]="p.id">{{p.name}}</option>
            </select>
          </div>
          <div class="col-3" style="padding-left: 0px !important;">
            <label style="color: white">Lokal</label>
            <select class="form-control" id="hitnost2" [(ngModel)]="selectedPlace" name="opcije">
              <option [value]="null">All</option>
              <option *ngFor="let p of places" [value]="p.id">{{p.name}}</option>
            </select>
          </div>
          <div class="col-4" style="padding-left: 0px !important;">
            <label style="color: white">Datum</label>
            <input type="text" placeholder="Datum" class="form-control" [(ngModel)]="selectedDate"
              #dp="bsDaterangepicker" bsDaterangepicker>
          </div>
        </div>
      </div>
      <div class="col-3" style="padding: 0px; padding-right: 15px;">
        <label style="color: transparent">Labela</label>
        <input type="text" class="form-control" id="naziv_objekta" [(ngModel)]="modal_naziv" placeholder="Pretraži"
          [ngModelOptions]="{standalone: true}">
      </div>
      <div class="col-1" style="padding: 0px;">
        <label style="color: transparent">Pretraga</label>
        <button (click)="pretraziEvente()"
          style="float: left; background-color: white; border-width: 1px; border-color: rgb(216, 216, 216);"
          data-toggle="modal" data-target="#exampleModal19" class="btn btn-primary">
          <i class="fa fa-search" style="color: rgb(71, 71, 71); font-size: 18px;"></i>
        </button>
      </div>
    </div>
  </div>
</div>


<!--Lista evenata-->
<div class="row featurette" *ngFor="let event of searchedEvents, let i = index"
  [class.selected]="event === selectedEvent">
  <div class="col-md-7">
    <h2 class="featurette-heading">{{ event.name }}
    </h2>
    <p class="lead">{{ event.description }}</p>
  </div>
  <div class="col-md-5">
    <img class="featurette-image img-fluid mx-auto" width="30%" margin="5%" src="assets/event2.jpg"
      alt="Generic placeholder image">
  </div>
  <p>
    <a class="btn btn-secondary" role="button" data-toggle="modal" data-target="#exampleModal3"
      (click)="prikaziDetalje(event)">Pregledaj
      &raquo;</a>
  </p>
  <hr>
</div>
