<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{ event.name }}</h1>
    <hr style="color: yellow; height: 1px; background-color: yellow">
    <p class="card-text" style="font-size: 18px">u <a href="">{{event.place.name}}</a>, dana {{ event.date_time | date: "dd.MM.yyyy. HH:mm:ss" }}</p>
    <img class="card-img" src="data:image/JPEG;base64,{{event.picture}}" alt="Card image">
    <br>
    <p class="card-text" style="font-size: 20px">Ulaz: slobodan</p>
    <p class="lead">{{ event.description }} There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
  </div>
  <br>
  <br>

<!--novi dio amra-->
<div class="container marketing">
  <h3>Posjetite slične događaje:</h3>
    <hr class="featurette-divider" style="color: purple; height: 1px; background-color: purple">
  </div>
    <div class="container">
      <div class="row">
        
        <div class="col-sm">
          <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRb1u_EbUzo98FpE_A8me16Yeg0plRuRmBYUlZqhAUpTAWo8zFr" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Naucni skup hemija</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm">
          <div class="card" style="width: 16rem;">
            <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRwRC1Y0BeHokDy3TsYSYMyISTjRdkU0cHzftxS83AYe9wHVKbqbQ" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Naucni skup fizika</h5>
              <p class="card-text"> the Some quick example text to build on Some quick example text to build on card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-sm">
            <div class="card" style="width: 16rem;">
              <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQbo6XnQsHsDbuckILr1pHQo9HDwXgKzrLf5r4Go-OesL6lXUFA" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">Naucni skup biologija</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </div>
      </div>
      <!--end row-->
      <br>
    </div>
    </div>
  
  <!--end novi dio amra-->