<div class="text-center">
  <div class="row">

    <div class="col-md-3"></div>

    <div class="col-md-6" style="margin-top: 2%;">
      <div class="card bg-dark text-white">
        <img class="card-img" src="assets/event.jpg" alt="Card image">
        <div class="card-img-overlay" style="background-color: rgba(59, 59, 59, 0.555);">
          <h2 class="card-title" style="margin-top: 13%;">{{ event.name }}</h2>
        </div>
      </div>
    </div>

    <div class="col-md-3"></div>

  </div>

  <div class="row">

    <div class="col-md-3"></div>

    <div class="col-md-6" style="margin-top: 3%;">
      <div class="card">
        <h3 class="card-header">Informacije o događaju</h3>
        <div class="card-body">
          <h6 class="card-title">
            <b>Opis: </b> {{ event.description }}</h6>
          <hr>
          <p class="card-text">
            <b>Lokacija: </b> {{event.place.name}}</p>
        </div>
      </div>
      <hr>
    </div>

    <div class="col-md-3"></div>

  </div>

  <div class="row">

    <div class="col-md-3"></div>

    <div class="col-md-6" style="margin-top: 2%;">

      <div class="card">
        <h5 class="card-header">Ostavite Vašu ocjenu o nastupajućem događaju</h5>
        <div class="card-body">
          <div class="form-group">
            <select class="form-control" id="hitnost" [(ngModel)]="odabranaOcjena" name="ocjene">
              <option *ngFor="let p of ocjene" [value]="p.id">{{p.name}}</option>
            </select>
            <hr>
            <p>Prosječna ocjena događaja je: {{averageGrade}}</p>
            <button type="button" class="btn btn-outline-secondary" (click)="addNewGrade()" style="width: 100%">Ostavi
              ocjenu</button>
          </div>
        </div>
      </div>
      <hr>
    </div>

    <div class="col-md-3"></div>

  </div>

  <div class="row" style="margin-bottom: 5%">

    <div class="col-md-3"></div>

    <div class="col-md-6" style="margin-top: 2%;">

      <div class="card">
        <h5 class="card-header">Ostavite komentar o nastupajućem događaju</h5>
        <div class="card-body">

          <table class="table">
            <thead>
              <tr>
                <th scope="col">Komentar</th>
                <th scope="col">Autor</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let com of comments, let i = index" [class.selected]="com === selectedComment">
                <td>{{com.comment}}</td>
                <td><i>@{{com.user.username}}</i></td>
              </tr>
            </tbody>
          </table>

          <hr>

          <div class="form-group">
            <input type="text" class="form-control" placeholder="Komentar" [(ngModel)]="noviKomentar" aria-describedby="basic-addon2">
            <button type="button" class="btn btn-outline-secondary" (click)="createComment()" style="width: 100%; margin-top:2%;">Komentariši</button>
          </div>
        </div>

        <div class="col-md-3"></div>

      </div>


    </div>









    <!--<div *ngIf="event">
<div class="text-center">
    <h1 id="naslov"> {{ event.name }}</h1>
    <h5 id="naslov_linija"> ______________________________________ </h5>  
  </div>
  
  <div>
    <table class="table1">
      <tr>
       <td class="col1">
          <img src="https://i.ytimg.com/vi/F0eYP0KxnIc/hqdefault.jpg" class="img-rounded" width="400" height="400">
      </td>
      <td class="col2"> 
        <p class="opis"> {{ event.description }} </p>
      </td>
      </tr>
      
    </table>
  </div>
  
  <div>
      <table class="table1">
        <tr>
           <td class="col1">
           <p class="hclass">Ocjena {{ averageGrade }}</p>
           <br>
           </td>
           <td class="col2"> 
            <div class="form-group">
              <label for="hitnost" class="col-form-label">Ocjeni:</label>
              <select class="form-control" id="hitnost" [(ngModel)]="odabranaOcjena" name="ocjene">
                <option *ngFor="let p of ocjene" [value]="p.id">{{p.name}}</option>
              </select>
              <span type="button" class="input-group-addon" id="basic-addon2" (click)="addNewGrade()">Ocjeni</span>
            </div>
           </td>
        </tr>
        <tr>
            <td class="col1">
            </td>
           <td class="col2"> 
              <div class="table-responsive">  
                  <table class="table2">
                    <tr class="row1">
                      <th>Komentar     </th>
                      <th>Autor        </th>
                    </tr>
                    <tr class="row1" *ngFor="let com of comments, let i = index" [class.selected]="com === selectedComment">
                       <td>
                       <p>{{com.comment}}</p>
                       </td>
                       <td>
                       <p>{{com.user.username}}</p>
                       </td>
                    </tr>
                
                  </table>
                </div>
                <br>
            
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Komentar" [(ngModel)]="noviKomentar" aria-describedby="basic-addon2">
                    <span class="input-group-addon" id="basic-addon2" (click)="createComment()">Pošalji</span>
                  </div>
            
                  <br>
            
           </td>
           </tr>
          
      </table>
    </div>
</div>
  
    
-->